{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 10, "knowledge_revision": 145, "git_revision": "", "hash": "aa8a28a2d1b86245191bf7393bb8e71f", "format-version": 4, "code-base-name": "default", "filename": "noteease/macos/Flutter/ephemeral/Flutter-Generated.xcconfig", "revision_history": [{"145": ""}]}