{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 51, "knowledge_revision": 185, "git_revision": "", "hash": "ac6be43fee17fbf80b1e9871433446d6", "format-version": 4, "code-base-name": "default", "filename": "noteease/ios/Flutter/Generated.xcconfig", "revision_history": [{"185": ""}]}