{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 128, "knowledge_revision": 260, "git_revision": "", "hash": "1af8733e933de22bb13e63948b6f9efe", "format-version": 4, "code-base-name": "default", "filename": "noteease/windows/runner/Runner.rc", "revision_history": [{"260": ""}]}